*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  width: 100%;
  height: 100dvh;
  background-color: #eee;
}

#startScreen {
  display: flex;
  gap: 5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#startScreen h1 {
  margin: 0;
  color: #20bdc0;
}

#startScreen button {
  width: 80%;
  padding: .5em;
  background-color: #20bdc0;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  border: 0;
  border-radius: 100vw;
}

#mainScreen {
  background-color: #333;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#webcam-container canvas {
  width: 100%;
  /* display: none; */
}

/* #webcam-container video {
  width: 100%;
} */

#label-container {
  display: none;
}

.please-point-camera {
  color: #eee;
  font-weight: bold;
}

.result {
  display: flex;
  gap: .5em;
  flex-direction: column;
  align-items: center;
}

.result .this-building-is {
  color: #eee;
  font-weight: bold;
}

.result .result-text {
  padding: 8px 20px;
  border-radius: 100vw;
  background-color: #20bdc0;
  color: #eee;
  font-weight: bold;
}